#base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15vh;
}

#logoTit {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}
#titulo {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 650%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coiso {
    display: block;
    justify-items: center;
    box-sizing: border-box;

    color: white;
    height: 7vh;
    width: 20em;
    background-color: #0377C1;
    border: none;
    border-radius: 25vh;
    margin-bottom: 2vh;

    font-weight: 600;
    font-size: medium;
    text-align: center;
}
.coiso:hover {
    background-color: #0d92e5;
    cursor: pointer;
}
.coiso::placeholder {
    color: #fff;
    font-size: 20px;
}

#botoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#btn1 {
    border: none;
    border-radius: 25vh;
    background-color: #FEC502;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    height: 7vh;
    width: 12vw;
    margin-right: 1vw;
}
#btn1:hover {
    background-color: black;
    color: #FEC502;
    cursor: pointer;
}
#btn2 {
    border: none;
    border-radius: 25vh;
    background-color: red;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    height: 7vh;
    width: 10em;
}
#btn2:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}

#logo {
    width: 260px;
    margin-right: 1vw;
}
#titulo {
    display: flex;
    color: black;
}
#logo{
    animation: mymove 2s;
}
@keyframes mymove {
    30% {transform: rotate(10deg);}
}

/* mobile */
@media only screen and (max-width: 675px) {
    #base {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5vh;
    }
    
    .coiso {
        display: block;
        justify-items: center;
        box-sizing: border-box;
    
        color: white;
        height: 7vh;
        width: 70%;
        background-color: #0377C1;
        border: none;
        border-radius: 25vh;
        margin-bottom: 2vh;
        margin-left: 15%;
        margin-right: 15%;
    
        font-weight: 600;
        font-size: medium;
        text-align: center;
    }

    #btn2 {
        border: none;
        border-radius: 25vh;
        background-color: red;
        
        font-size: 20px;
        color: #fff;
        font-weight: 900;
        height: 7vh;

        width: 80vw;
        margin-left: 10%;
        margin-right: 10%;
    }

    #logoTit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #titulo {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 10vh;
        margin: 0;
    }
    
}

/* tablet */