#bloco-acesso {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #D9D9D9;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    border: none;
    border-radius: 25vh;
    height: 12vh;
}

#btn-acesso {
    display: flex;
    margin-right: 1vw;
    position: absolute;
    right: 0;
    padding: 1vh 2vw 1vh 2vw;
    margin-top: 2vh;
    border: none;
    border-radius: 25vh;
}
#btn-acesso:hover {
    background-color: white;
    cursor: pointer;
}

#nome-acesso {
    display: flex;
    margin-left: 1vw;
    position: absolute;
    left: 0;
    padding: 1vh 2vw 1vh 2vw;
    margin-top: 2vh;
    border: none;
    border-radius: 25vh;
}

#texto-meio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-size: 3.5vh;
    margin-top: 3.5vh;    
}