#nav {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 10vh;
    background-color: #0377C1;
}

h1 {
    color: #FFF;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
#logoImg {
    display: flex;
    vertical-align: middle;
    margin-right: 1vw;
    margin-left: 1vw;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
/* #logoImg:hover {
    cursor: pointer;
} */

#btn {
    top: 2.5vh;
    position: absolute;
    right: 1vw;
    margin-top: auto;
    font-size: 25px;
    font-weight: 900;
    border: none;
    color: #FFF;
    background: none;

    padding-left: 1vw;
    padding-right: 1vw;
}
#btn:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #0377C1;
    border-radius: 5vw;
}